.App-logo {
  width: 820px;
  padding: 10px;
  border: 1px solid #eaeaea;
  margin: 0;
  margin-left: 20%;
  background-color: white;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
color: black;
  background-color:#eaeaea;  
  position: -webkit-sticky; 
  top: 0;
  /* margin-right: 20px; */
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 30px 30px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.active {
  background-color: #e08b00;;
}
.nav{
  float: right;
  
}
.H{
  color: black;
  /* float: left; */
  margin-bottom: 20px;
  
}
.f1{
  background-color: #eaeaea;
}
a{
  text-decoration: none;
  color: black;
}
.fg{
  background-color: #f9f9f9;;
}
.form{
  /* border: 1px solid #0acdc2; */
  /* background-color: #0acdc2; */
  padding: 40px;
  margin: 0px;
  margin-left: 10px;
  border-radius: 10px;
  /* box-shadow: 0px 0px 2px 2px #ddd; */
  width: 500px;
}
.mapouter{
  position:relative;
  text-align:right;
  width:400px;
  height:300px;
}
.gmap_canvas {
  overflow:hidden;
  background:none!important;
  width:500px;
  height:400px;
}
.gmap_iframe {
  width:600px!important;
  height:400px!important;
}
.btn-primary {
  color: #fff;
  background-color:#795548;
  border-color: #795548;
  padding: 15px 50px;
  letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 14px;
    box-sizing: border-box;
    line-height: 22px;
    font-style: normal;
    font-weight: 700;
  
    transition: color .25s ease-out,background-color .25s ease-out,border-color .25s ease-out;
}
.fa-headphones {
  color: #fff;
  background-color:#795548;
  border-color: #795548;
  padding: 15px 50px;
  letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 14px;
    box-sizing: border-box;
    line-height: 22px;
    font-style: normal;
    font-weight: 700;
  
    transition: color .25s ease-out,background-color .25s ease-out,border-color .25s ease-out;
}
.book{
  width: 990px;
  padding: 5px;
  border: 1px solid #eaeaea;
  /* margin: 0; */
  margin-left: 5%;
  background-color: #eaeaea;
}
.bg{
  background-color:#333333;;
color: white;
background-size: cover;
width: 100%;
  
}
.last{
  background-color: #282828;
  color: #000000;
  padding: 25px;
}
.fa-phone{
  color: white;
}
.fa-map-marker{
  color: white;
}
.fa-envelope{
  color: white;
}

.fac{
  color: white;
}
.form-control{
  background-color: #eaeaea;
}
.no{
  background-color: skyblue;
}
.bar{
  padding: 20px;
  margin-right: 20px;
  margin-left: 20%;
}
.tran{
  transform: matrix3d(1.08022, 0.000100828, 0, 0, -0.000100828, 1.08022, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transform-origin: 0% 0% 0px;
  position: absolute;
}
.night{
  background-image: url(image/night.jpg);
  background-size: 1050px 300px;
  background-repeat: no-repeat;
  padding: 70px;
color: white;

  text-align: center;
}
.cent{
  text-align: center;
}
.footer{
  background-color:#795548;
}
span{
  color: #795548;
}
.card-group{
  width: 550px;
  margin-left: 19%;
}
.sm{
  margin-left: 15px;
}
.book1{
  width: 1000px;
  padding: 5px;
  border: 1px solid #eaeaea;
  /* margin: 0; */
  
  background-color: #795548;
}
.column {
  float: left;
  width: 25%;
  padding: 10px;
}

/* Style the images inside the grid */
.column img {
  opacity: 0.8; 
  cursor: pointer; 
}